
<div class="bg login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Log in</h2>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="panel-body">
              <%= f.input :email, label: false, required: true, autofocus: true, placeholder: 'Email', input_html: { class: 'input-lg' } %>
              <%= f.input :password, label: false, required: false, placeholder: 'Password', input_html: { class: 'input-lg' } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <%= f.button :submit, "Log in", class: 'btn-lg btn-info btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
