<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">Instapic</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to "New Post", new_post_url %> </li>
          <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Login", new_user_session_path %> </li>
          <li> <%= link_to "Register", new_user_registration_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
